<div class="horizontal">
  <div ng-show="showTree" class="left" resizable r-directions="['right']" r-flex="true" r-grabber="<div id='resize-bar-column'></div>">
    <div class="resizer">
      <div class="scroller">
        <div class="tree-view" style="color: #FFFFFF;">
          <div class="folder-header" ng-init="showProjects = true"
               ng-click="toggleShowProjects()">
            <span class="glyphicon " ng-class="showProjects ? 'glyphicon-menu-down' : 'glyphicon-menu-right'">
            </span>
            Projects
          </div>
          <ul class="project-list" ng-show="showProjects">
            <li class="project-list-item" ng-repeat="project in projects" ng-class="{'selected-project': selectedProject}">
              {{ project.title }}
            </li>
          </ul>
          <div class="folder-header" ng-init="showTemplates = true"
               ng-click="toggleShowTemplates()">
            <span class="glyphicon " ng-class="showTemplates ? 'glyphicon-menu-down' : 'glyphicon-menu-right'">
            </span>
            Templates
          </div>
          <ul class="project-list" ng-show="showTemplates">
            <li class="project-list-item" ng-repeat="template in templates">{{ template.title }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <column-toolbar ng-show="!showTree"></column-toolbar>
  <div class="vertical">
    <div class="row-resize">
      <div id="editor" style=""></div>
    </div>
    <div ng-show="showConsole" class="row-resize console-bg" style="flex-basis: 200px" resizable r-directions="['top']" r-flex="true" r-no-throttle
         r-grabber="<div id='resize-bar-row'></div>">
      <div class="console-container">
        <div class="console" ng-bind-html="consoleOutput"></div>
      </div>
    </div>
    <div ng-show="!showConsole">
      <row-toolbar></row-toolbar>
    </div>
  </div>
</div>
