<div class="horizontal">
  <div ng-show="showTree" class="left" resizable r-directions="['right']" r-flex="true" r-grabber="<div id='resize-bar-column'></div>">
    <div class="resizer">
      <div class="scroller">
        <div class="tree-view" style="color: #FFFFFF;">
          <div class="folder-header" ng-init="showProjects = true"
               ng-click="toggleShowProjects()">
            <span class="glyphicon text-center-vertical" ng-class="showProjects ? 'glyphicon-menu-down' : 'glyphicon-menu-right'">
            </span>
            Projects
          </div>
          <ul class="project-list" ng-show="showProjects">
            <li class="project-list-item" ng-repeat="project in projects"
                ng-class="{'selected-project': selectedProject == project.project_id}" ng-click="selectProject(project)">
              {{ project.title }}

              <span class="edit-project glyphicon glyphicon-pencil" ng-click="showEditProjectModal(project)"></span>
            </li>
            <li class="project-list-item" ng-click="showCreateProjectModal()">
              <span class="glyphicon glyphicon-plus"></span>
              Create empty project
            </li>
          </ul>
          <div class="folder-header" ng-init="showTemplates = false"
               ng-click="toggleShowTemplates()">
            <span class="glyphicon text-center-vertical" ng-class="showTemplates ? 'glyphicon-menu-down' : 'glyphicon-menu-right'">
            </span>
            Templates
          </div>
          <ul class="project-list" ng-show="showTemplates">
            <li class="project-list-item" ng-repeat="template in templates" ng-click="showTemplate(template)">
              {{ template.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <column-toolbar ng-show="!showTree"></column-toolbar>
  <div class="vertical">
    <div ng-show="showBanner" class="banner">
      <div class="banner-success" ng-click="showCreateProjectModal(isShowingTemplate ? template : submission)">
        <span class="glyphicon glyphicon-plus"></span>
        Create project from this {{ isShowingTemplate ? "template" : "submission" }}.
      </div>
    </div>
    <div class="row-resize">
      <div id="editor" style=""></div>
    </div>
    <div ng-show="showConsole && isEditing" class="row-resize console-bg" style="flex-basis: 200px" resizable r-directions="['top']" r-flex="true" r-no-throttle
         r-grabber="<div id='resize-bar-row'></div>">
      <div id="console" class="console-container" scroll-logger>
        <div class="console" ng-bind-html="consoleOutput"></div>
      </div>
    </div>
    <row-toolbar ng-show="!showConsole"></row-toolbar>
  </div>
</div>
