body {
    margin-top : 50px;
}

#editor {
    position: absolute;
    width: 1000px;
    height: 50%;
}

.margin-top {
    margin-top : 25px;
}

.margin-left {
    margin-left: 10px;
}

.muted-link {
    color: #767676;
}

.underlineHeader {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.login-dropdown {
    padding: 10px;
    width: 280px;
}

.ng-cloak {
  display: none !important;
}

.failed-login {
    font-size: 14px;
    font-weight: 700;
    color: #d9534f;
}
