body {
    margin-top : 60px;
    background: #383838;
}

.editor-container {
    display: flex;
}

#editor {
    position: fixed;
    top: 60px;
    bottom: 136px; /* 130 + 6 */
    left: 206px;
    right: 0;
    overflow: hidden;
    flex: 4;
    flex-flow: column;
    /*height: 500px;*/
}

.row-padding {
    padding: 5px;
}

.margin {
    margin: 10px;
}

.hover {
    position: relative;
    background: #FFF;
    top: 100px;
    width: 25%;
    height: 200px;
    vertical-align: middle;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
}

.toolbar {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background: #f8f8f8;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover  {
    background: #f8f8f8;
}

.center-horizontal {
    /*float: none;*/
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.center-text-vertical {
    height: 30px;
    line-height: 40px;
}

.margin-top {
    margin-top : 25px;
}

.margin-left {
    margin-left: 10px;
}

.muted-link {
    color: #767676;
}

.login-dropdown {
    padding: 10px;
    width: 280px;
}

.ng-cloak {
  display: none !important;
}

.failed-login {
    font-size: 14px;
    font-weight: 700;
    color: #d9534f;
}

.console-body {
    padding: 15px;
}

.console {
    position: fixed;
    bottom: 0;
    left: 206px;
    right: 0;
    height: 130px;
    overflow: auto;
    color: #fff;
    background-color: #111;
    font-family: 'Source Code Pro', monospace;
    resize: none;
    border-width: 0;
    flex: 1;
}
