.body {
    margin-top : 60px;
}

#editor {
    height: 500px;
}

.row-padding {
    padding: 5px;
}

.margin {
    margin: 10px;
}

.hover {
    position: relative;
    background: #FFF;
    top: 100px;
    width: 25%;
    height: 200px;
    vertical-align: middle;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
}

.toolbar {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background: #f8f8f8;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover  {
    background: #f8f8f8;
}

.center-horizontal {
    /*float: none;*/
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.center-text-vertical {
    height: 30px;
    line-height: 40px;
}

.margin-top {
    margin-top : 25px;
}

.margin-left {
    margin-left: 10px;
}

.muted-link {
    color: #767676;
}

.underlineHeader {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.login-dropdown {
    padding: 10px;
    width: 280px;
}

.ng-cloak {
  display: none !important;
}

.failed-login {
    font-size: 14px;
    font-weight: 700;
    color: #d9534f;
}

.console-body {
    padding: 15px;
}

.console {
    color: #fff;
    background-color: #111;
    font-family: 'Source Code Pro', monospace;
    resize: none;
    margin: 0px;
}
